################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/algorithms/Algorithms.LinkedList/obj/Debug
/algorithms/Algorithms.LinkedListTests/bin/Debug
/algorithms/Algorithms.LinkedListTests/obj/Debug
/algorithms/Algorithms.LinkedList/bin/Debug
